<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Bcrypt Practice</title>
</head>
<body>
    <div class="main-js">
        <div class="title">Bcrypt Practice </div>
        <form action="/submit" method="post" class="form-js-submit">
            <input type="text" name="password" class="inp-js-submit">
            <button type="submit" class="btn-js-submit">Submit</button>
        </form>
    </div>


</body>
</html>